@import url('common.css');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Poppins:300,500&display=swap');


/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;    
*/

header{
    width: 100%;
    margin:75px 0;
}
header .box01{
    width: 1201px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header .box01 h1{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #000;
    font-size: 30px;
}
header .box01 nav{
    display: flex;
    align-items: center;
}
header .box01 nav ul{
    width: 388px;
    display:flex;
    justify-content: space-between;
}
header .box01 nav ul li{
}
header .box01 nav ul li a{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 14px;
}
header .box01 > a{
    margin-top: 10px;
    width: 30px;
    height: 20px;
    position: relative;
}
header .box01 > a span{
    width: 30px;
    height: 3px;
    background: #000;
    display: block;
    position: absolute;
    border-radius: 40px;
}
header .box01 > a span:nth-child()(1){
    top: 0;
}
header .box01 >  a span:nth-of-type(2){
    top:50%;
    transform: translateY(-50%);
     max-width: 70%;
    opacity: 1;
}
header .box01 > a span:nth-of-type(3){
    bottom: 0;
    max-width: 86%;
}
header .box01 > a:hover span:nth-of-type(1){
    top:35%;
    transform: translateY(-50%) rotate(45deg);
    transition: .5s;
}
header .box01 > a:hover span:nth-of-type(2){
    opacity:0;
}
header .box01 >  a:hover span:nth-of-type(3){
    bottom:50%;
    transform: translateY(-50%) rotate(-45deg);
    max-width: 100%;
    transition: .5s;
}

section{
    width: 100%;
    height: 749px;
    background: url(../img/background.jpg) no-repeat center top  / cover;
    padding-top: 150px;
}
section article{
    width: 904px;
    height: 643px;
    background: #fff;
    box-shadow: 5px 5px 50px rgba(0,0,0,0.1);
    margin: 0 auto;
}
section article h2{
    width: 781px;
    margin:0 auto;
    padding-top:42px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
section article h2{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    color: #000;
    font-size: 20px;
    margin-left: 64px;
    font-weight: normal;
    letter-spacing: 0.1em;
}
section article h2 span{
    width: 84px;
    display: flex;
    justify-content: space-between;
}
.fa-facebook-f{
    color:#fd65b2;
}
.fa-twitter{
    color:#000;
}
.fa-instagram{
    color: #000;
}

section article figure{}
section article figure .imgbox{
    width: 781px;
    height: 307px;
    margin-left: 62px;
    background: url(../img/02.jpg) no-repeat -50px -50px;
}

section article figure figcaption{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: #000;
    font-size: 20px;
    padding-top: 34px;
    margin-left: 62px;
    letter-spacing: 0.1em;
}
section article figure figcaption p{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.1em;
    padding-top: 24px;
    margin-left:7px;
}
section article figure figcaption p mark{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    color: #000;
    font-size: 18px;
    background: #fed38e;
}
section article figure figcaption p a{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

section article:hover{
    transform: translateY(5%);
    transition: 2s;
}


footer{
    padding-top: 196px;
    margin: 0 auto;
}
footer p{
    text-align: center;
}










